// Theme colors.
$colorThemeMain: royalblue;

// Font colors.
$colorFontSelect: #fff;

// Code color schema.
$colorCodeDefault: #555;
$colorCodeComment: grey;
$colorCodeString: forestgreen;
$colorCodeKeyword: #a8801a;
$colorCodeFunction: $colorThemeMain;
$colorCodeNumber: firebrick;
$colorCodeBuiltIn: indigo;

// Card.
$colorCardTitle: #f5f5f5;
