code:not(.example) {
    background-color: #f5f5f5;
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 0.9em;
}

pre code {
    padding: 30px !important;
    line-height: 1.5em;
}

thead tr th {
    font-weight: bold;
    text-align: left;
    font-variant: all-small-caps;
    color: #888;
}

tr {
    vertical-align: top;
}

td {
    padding-top: 10px;
}

.param-type code,
.return-type code {
    display: inline-block;
    margin: 0 4px 4px 0;
}

.param-type code:first-child {
    margin-top: -10px;
}

.param-name {
    width: 100px;
}

.param-type {
    width: 100px;
    padding-right: 10px;
    clear: both;
    display: inline-block;
}
