::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: white;
}
::-webkit-scrollbar-thumb {
    background: #eee;
}
::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.4em;
}

a,
a:visited{
    text-decoration: none;
    color: royalblue;
    border-bottom: 3px solid transparent;
    transition: border-bottom .2s;
}
a:hover {
    border-bottom: 3px solid royalblue;
    transition: border-bottom .2s;
}

aside {
    position: absolute;
    width: calc(240px - 2px);
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    box-shadow: 0 0 4px black;
}

aside .search-bar {
    width: calc(100% - 30px);
    height: 30px;
    margin: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid royalblue;
}

aside .search-bar input {
    width: calc(100% - 10px);
    height: 100%;
    margin-left: 10px;
    background: none;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    -webkit-appearance: none;
    border-radius: 0;
}

aside .sections {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    list-style: none;
    width: calc(100% - 30px);
    margin: 0 15px;
    padding: 0;
}

aside .sections label {
    display: block;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 1.1em;
}

aside .sections label:hover {
    color: royalblue;
}

aside .sections > li {
    margin-bottom: 20px;
}

aside .sections input {
    display: none;
}

aside .sections input:checked + .methods {
    display: none;
}

aside .methods {
    display: block;
    list-style: none;
    padding: 0;
    border-left: 1px solid #ddd;
}

aside .methods li {

}

aside .methods a,
aside .methods a:visited {
    display: block;
    text-decoration: none;
    color: #bbb;
    font-family: 'Courier', monospace;
    font-size: 0.8em;
    padding: 4px 8px;
    border: none;
}

aside .methods a:hover {
    background-color: #f5f5f5;
    color: royalblue;
}

main {
    position: absolute;
    width: calc(100% - 250px);
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
}

h1 {
    display: inline-block;
    margin: 60px 20px 10px 20px;
    font-size: 1.5em;
    font-weight: normal;
    color: #555;
}

p {
    width: calc(100% - 40px);
    padding: 0 20px;
    margin: 0;
}

pre.install {
    width: calc(100% - 40px);
    margin: 0 20px;
}

pre.install code {
    padding: 20px !important;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 30px;
    font-variant: all-small-caps;
}

code:not(.example) {
    background-color: #f5f5f5;
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 0.9em;
}

pre code {
    padding: 30px !important;
    line-height: 1.5em;
}

thead tr th {
    font-weight: bold;
    text-align: left;
    font-variant: all-small-caps;
    color: #888;
}

tr {
    vertical-align: top;
}

td {
    padding-top: 10px;
}
.param-type code,
.return-type code {
    display: inline-block;
    margin: 0 4px 4px 0;
}
.param-type code:first-child {
    margin-top: -10px;
}

.param-name {
    width: 100px;
}
.param-type {
    width: 100px;
    padding-right: 10px;
    clear: both;
    display: inline-block;
}

.card {
    margin: 0 20px 120px 20px;
}

.card .title {
    font-family: 'Courier', monospace;
    font-size: 1.1em;
    padding: 20px 25px;
    background-color: #f5f5f5;
    border-left: 4px solid royalblue;
    overflow-x: scroll;
}

.card .title::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.card .desc {
    margin: 10px 0 20px 0;
}

.card .returns {
    margin-top: 10px;
    display: inline-block;
}
.card .return-type {
    width: 150px;
    float: left
}
.card .return-desc {
    width: calc(100% - 150px);
    float: right;
    padding-top: 3px;
}
.card .return-desc ul li {
    margin-top: 10px;
}
.card .return-desc ul li:first-child {
    margin-top: 0;
}